# {{ ansible_managed }}

[Unit]
Description=Run Ethercalc, the collaborative spreadsheet editor.
After=syslog.target network.target

[Service]
Type=simple
User=ethercalc
Group=ethercalc
ExecStart=/usr/bin/ethercalc --port 8000 --cors {% if ethercalc_use_redis %}--expire {{ ethercalc_spread_seconds_to_expire }}{% endif %}

[Install]
WantedBy=multi-user.target
